div#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  height: 100vh;
  overflow-y: scroll;
}

.card {
  display: flex;
  border: 2px solid gray;
  border-radius: 8px;
  padding: 8px 12px;
}

.card-img {
  width: 180px;
  height: 180px;
}